[Unit]
Description=Ambient light monitoring Service
Requires=syslog.socket
Documentation=https://github.com/mikhail-m1/illuminanced

[Service]
Type=forking
ExecStart=/usr/local/sbin/illuminanced
PIDFile=/run/illuminanced.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
